{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@app": "./"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
